.banner{
    background-image: url("../../src/assets/img/Barbas.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
    filter: grayscale(100%);
    position: relative;
    z-index:1;
}

.banner::after{
    content: '';
    background-color: black;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index:-1;
    opacity: 0.5;
}

.banner2{
    background-image: url("../../src/assets/img/banner.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}